:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #e2187d;
	--purple: #491ab8;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
	
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-image: url(./todo4.webp);
	
	
}

header {
	height: 200px;
	padding: 0rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 30px 0 5px 368px;
	background: linear-gradient(#9dd2ea, #414040);
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	box-shadow: 0 80px 32px 0 rgba( 31, 38, 135, 0.3 );
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 550;
	color: var(--pink);
	margin-bottom: 0.6rem;
    margin-top: 3rem;
}

header h1 span{
    background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: medium;
	margin-left: 10px;
}

#new-task-form {
	display: flex;
	
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darkest);
	box-shadow: 0px 4px #3c7b99, 0px 10px 15px rgba(0,0,0,0.2);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: #3c7b99;
}

#new-task-submit {
	color: #3c7b99;
	font-size: 1.2rem;
	font-weight: 700;
	background-color: #111827;
	cursor: pointer;
	transition: 0.4s;
	border-radius: 15px;
	padding: 0 20px 0 20px;
	box-shadow: 0px 4px #3c7b99, 0px 10px 15px rgba(0,0,0,0.2);
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 0 30px 368px;
	background: linear-gradient(#9dd2ea, #414040);
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	box-shadow: 0px 4px #3c7b99, 0px 10px 15px rgba(0,0,0,0.2);

}

.task-list {
	padding: 1rem;
	

}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--darker);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0px 4px #3c7b99, 0px 10px 15px rgba(0,0,0,0.2);

}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}


@media(max-width:998px){
    html{
        font-size: 85%;
    }
}

@media(max-width:768px){
    html{
        font-size: 75%;
    }
}
